@using Microsoft.AspNetCore.Identity
@using HotelManagementSystem.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> Hello @UserManager.GetUserAsync(User).Result.FirstName!
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            @if (User.IsInRole("Administrator"))
            {
                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Dashboard</a></li>
                <li><hr class="dropdown-divider"></li>
            }
            @if (User.IsInRole("FrontDesk"))
            {
                <li><a class="dropdown-item" asp-area="Staff" asp-controller="Dashboard" asp-action="Index">Staff Dashboard</a></li>
                <li><hr class="dropdown-divider"></li>
            }
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">My Profile</a></li>
            <li><a class="dropdown-item" asp-controller="Booking" asp-action="MyBookings">My Bookings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
    </li>
}
</ul>